.btn{
  background-color: #6495ED;
  color: #fff;
  border-radius: 3px;
  margin: 0 auto 20px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 0 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: #2716ED;
  }
}
